.gpt3__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 6rem;

}

.gpt3__navbar-links {
    /* flex CSS 속성은 하나의 플렉스 아이템이 자신의 컨테이너가 차지하는 공간에 맞추기 위해 크기를 키우거나 줄이는 방법을 설정하는 속성입니다.  */
    flex: 1; 
    display: flex;
    /* display: flex : Flex 아이템들은 가로 방향으로 배치되고, 자신이 가진 내용물의 width 만큼만 차지하게 된다 */
    justify-content: flex-start;
    /* justify-content 메인축 방향으로 아이템을들 정렬하는 속성이에요.  flex-start 아이템들을 시작점으로 정렬합니다. */
    align-items: center;
}

.gpt3__navbar-links_logo {
    margin-right: 2rem;
}

.gpt3__navbar-links_logo img {
    width: 62.56px;
    height: 16.02px;
}
.gpt3__navbar-links_container {
    display: flex;
    flex-direction: row;
    /*  flex-direction 아이템들이 배치되는 축의 방향을 결정하는 속성입니다. */
}
.gpt3__navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


.gpt3__navbar-links_container p,
.gpt3__navbar-sign p,
.gpt3__navbar-menu_container p {
    color: #fff;
    font-family: var(--font-family);
    /*font-family: 글꼴 설정하는 속성 */
    font-weight: 500;
    /* font-weight 글자 굵기 */
    font-size: 18px;
    line-height: 25px;
    /* line-height 줄 사이의 높이  */
    text-transform: capitalize;
    /* text-transform 대문자 또는 소문자로 변경한 뒤 보여줄때 사용  capitalize: 맨처음 시작하는 단어만 대문자로 변경*/
    margin: 0 1rem;
    cursor: pointer;
}

.gpt3__navbar-sign button,
.gpt3__navbar-menu_container button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.gpt3__navbar-menu {
    margin-left: 1rem;
    display: none;
    position: relative;
    /*
        display : 요소 크기를 어떻게 결정한건가 를 결정하는 속성 
        position: html 문서 상에서 요소가 배치되는 방식을 결정함
        relative: 요소를 원래 위치를 기준으로 상대적으로 배치해준다
    */
}

.gpt3__navbar-menu svg {
    cursor: pointer;
}

.gpt3__navbar-menu_container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    /*flex-direction: 컨테이너 내부의 아이템들이 만들어지는 방향
        column : 위에서 아래로
    */
    text-align: end;
    background: var(--color-footer);
    padding: 2rem;
    position: absolute;
    /* 절대 위치(absolute position) : 위치가 설정된 바로 상위의 조상(ancestor) 요소에 상대적으로 위치함 */
    right: 0;
    top: 40px;
    margin-top: 1rem;
    min-width: 210px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

gpt3__navbar-menu_container p {
    margin: 1rem 0;
}

.gpt3__navbar-menu_container-links-sign {
    display: none;
}

@media screen and (max-width: 1050px) {
    .gpt3__navbar-links_container {
        display: none;
    }

    .gpt3__navbar-menu {
        display: flex;
    }
}

@media screen and (max-width: 700px) {
    .gpt3__navbar {
        padding: 2rem 4rem;
    }
}

@media screen and (max-width: 550px) {
    .gpt3__navbar {
        padding: 2rem;
    }

    .gpt3__navbar-sign {
        display: none;
    }

    .gpt3__navbar-menu_container {
        top: 20px;
    }

    .gpt3__navbar-menu_container-links-sign {
        display: block;
    }
}